.todoList-form {
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
}

.todoList-form-item {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.todoList-input {
    padding: 10px;
    margin-bottom: 10px;
}


.todoList-AddBtn {
    align-self: center;
    width: 120px;
    margin-left: 5px;
    font-size: 15px;
}

.todoList-AddBtn:focus {
    outline: none;
}
