$margin:10px;
$padding:10px;

.todoList-form {
    display: flex;
    flex-direction: row;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-top: $margin;
    margin-bottom: $margin;
    padding: $padding;

    .todoList-form-item {
        margin: $margin/2;

        .todoList-input {
            padding: $padding;
            margin-bottom: $margin;
        }

        .todoForm-closeBtn {
            font-size: 15px;
            border: 0px solid rgba(0, 0, 0, 0);
        }
    }
}

.todoForm-addBtn {
    align-self: center;
    width: 120px;
    font-size: 15px;
    margin-left: $margin/2;

    &:focus {
        outline: none;
    }
}

// Form Edit Item /
.todoForm-editItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: $margin;
}

.todoForm-editItem-addBtn,
.todoForm-editItem-menu {
    width: 120px;
    font-size: 15px;
    margin-left: $margin/2;
    border: 0px solid rgba(0, 0, 0, 0);
}
