.todoList-li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 400px;
}

.todoList-done {
    text-decoration: line-through;
}

.todoList-li-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.todoList-li-item-text {
    display: flex;
    flex-direction: column;
}

.todoList-item-text {
    margin-left: 10px;
}

.todoList-item-input {
    width: 210px;
}

.todoList-ctrl {
    width: 30px;
    height: 30px;
    margin-left: 2px;
    margin-right: 2px;
    border: 0px solid rgba(0, 0, 0, 0);
}

.todoList-ctrl:hover {
    color: #aaa;
}
