body {
    margin: 0px;
    padding: 0px;
}

.dark {
    background: #252931;
}

.dark-font {
    color: rgba(255, 255, 255, 0.88);
}

.light {
    background: rgba(255, 255, 255, 0.88);
}

.light-font {
    color: #282c35;
}
