body {
    margin: 0px;
    padding: 0px;
}

.App {
    margin-left: auto;
    margin-right: auto;
    max-width: 42rem;
    height: 100%;
    padding: 2.625rem 1.3125rem;
    font-family: Consolas, 'Noto Sans TC', sans-serif, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
